
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutCajero.cshtml";
}

    <div class="text-center">
        <h1 class="display-3">Caja</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p></p>

    </div>
