
@{
    ViewData["Title"] = "Ayuda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <h1 class="display-4">Ayuda</h1>
        <p>
            <img src="~/img/ayuda.png" width="600" height="300" />
        </p>
    </div>
