
@{
    ViewData["Title"] = "CheckoutComplete";
}

    <div class="jumbotron" style="margin-top: 40px;">
        <h1 class="text-center">@ViewBag.CheckoutCompleteMessage</h1>
        <hr />       
        <p>Tiempo de espera: @ViewBag.TiempoEspera</p>
    </div>
