
@{
    ViewData["Title"] = "Default";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

    <table>
        <tr>
            <td> Ingreso periodo tiempo</td>
            <td> @Model </td>
        </tr>

    </table>