

@{
    ViewData["Title"] = "IndexInformes";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="jumbotron" style="margin-top: 40px;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Platos">Platos mas vendidos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#ingresos">Ingresos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pedido1">Pedidos por tiempo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#pedido2">Pedido por cliente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Clientes">Clientes</a>
        </li>
    </ul>
    <!------------------contenido de los tabs----------------------------->
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="Platos">
            <h3>Platos</h3>
            <div>
                @await Component.InvokeAsync("InformePlato", null)
            </div>
        </div>
        <div class="tab-pane fade" id="ingresos">
            <p>aca van el informe de ingresos por un periodo de tiempo</p>
                @await Component.InvokeAsync("InformeIngreso",null)
        </div>
        <div class="tab-pane fade" id="pedido1">
            <p>aca va el informe de los pedidos periodo de tiempo</p>
        </div>
        <div class="tab-pane fade" id="pedido2">
            <p>aca va el informe de los pediodos por cliente</p>
        </div>
        <div class="tab-pane fade" id="Clientes">
            <p>aca va el informe de registro de los clientes por cliente</p>
        </div>
    </div>
    <!-------------------------------------------------------------------->
</div>