
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

    
        <h1 class="display-3">Administracion</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p></p>
        
   