
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

    <div class="jumbotron">
        <h1 class="display-4">Registrar Nuevos Usuarios</h1>
        <div class="text-center">
            <a class="btn btn-primary btn-lg btn-block" asp-area="Identity" asp-page="/Account/Register">Registro</a>
        </div>
    </div>


