
@{
    ViewData["Title"] = "Registrar";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}

    <div class="jumbotron" style="margin-top: 40px;">
        <div class="text-center">
            <h1 class="display-4">Registrar Nuevos Usuarios</h1>
            <br />
            <a class="btn btn-lg text-light" style="background-color: #FF5900;" asp-area="Identity" asp-page="/Account/Register">Registro</a>
        </div>
    </div>


