@model EmpleadosEBS.Models.Plato

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutCocinero.cshtml";
}

<div class="jumbotron">
    <h3>Crear Plato</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Denominacion" class="control-label"></label>
                    <input asp-for="Denominacion" class="form-control" />
                    <span asp-validation-for="Denominacion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Imagen" class="control-label"></label>
                    <input asp-for="Imagen" class="form-control" />
                    <span asp-validation-for="Imagen" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PrecioVenta" class="control-label"></label>
                    <input asp-for="PrecioVenta" class="form-control" />
                    <span asp-validation-for="PrecioVenta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <ul>
                            @{
                                List<EmpleadosEBS.Models.PlatoIndexData.ArticuloAsignado> articulos = ViewBag.Articulos;

                                foreach (var articulo in articulos)
                                {
                                    @:<li>
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox"
                                                               name="articulosSeleccionados"
                                                               value="@articulo.ID"
                                                               @(Html.Raw(articulo.Asignado ? "checked=\"checked\"" : "")) />
                                                    </td>
                                                    <td>
                                                        @articulo.Denominacion
                                                    </td>
                                                    <td>
                                                        <input type="text" name="articulosSeleccionados" value="@articulo.Cantidad" />
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    @:</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div>
        <a asp-action="Index">Volver a la lista</a>
    </div>
</div>
