<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Caja El Buen Sabor</title>

    <!-- hoja de estilos Minty de Bootswacht https://bootswatch.com/ -->
    <link rel="stylesheet" href="~/css/CajeroCss/bootstrap.css" />
    <link rel="stylesheet" href="~/css/CajeroCss/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/CajeroCss/_bootswatch.scss" />
    <link rel="stylesheet" href="~/css/CajeroCss/_variables.scss" />

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <meta http-equiv="refresh" content="5" />
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" asp-controller="Cajero" asp-action="Index">Caja</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" 
                        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="navbarColor01">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cajero" asp-action="IndexPedido">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Cajero" asp-action="IndexBebida">Bebidas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="" asp-action="Index">Facturas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - El Buen Sabor
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
